@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn;
  animation-duration: 0.5s;
}

.fadeOut {
  animation: fadeOut;
  animation-duration: 0.5s;
}

@keyframes rolling {
  0% {
    margin-top: 0px;
  }
  33% {
    margin-top: -310px;
  }

  66% {
    margin-top: -620px;
  }
  100% {
    margin-top: -945px;
  }
}

@keyframes sliding {
  0% {
    background-position: 0 0, 0 0;
  }
  50% {
    background-position: 0 0, 0 0;
  }
  100% {
    background-position: 50vw 0, -50vw 0;
  }
}
