@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap");

.corogne-slider {
  margin: 0 auto;
  height: 330px;
  overflow: hidden;
  margin-bottom: 3em;
}

.corogne-slider img {
  width: 390px;
}

.corogne-list {
  animation-name: rolling;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
}

#intro-main-text {
  font-size: 1.3em;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
}

.desc {
  line-height: 1.5em;
  font-family: "Noto Sans", sans-serif;
}

.splash {
  background: rgb(253, 217, 223);
  margin: 0 auto;
  background-position: center;
  height: 120%;
  width: 100%;
  position: fixed;
  transition: 1s all cubic-bezier(0.86, 0, 0.07, 0.05);
  top: 0;
  text-align: center;
}

.splash img {
  width: 390px;
  margin: 0 auto;
}

.seen {
  top: -120%;
}
