@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&display=swap");

#qna {
  display: none;
}

.qBox {
  font-size: 1em;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
  line-height: 1.5em;
}

.aBox {
  text-align: center;
}

.answerList {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  width: 80%;
  display: inline-block;
  background: black;
  color: white;
  border: 2px solid black;
  padding: 1.3em 0;
  margin: 1.2em 0;
}

.answerList:hover,
.answerList:active {
  background: pink;
  cursor: pointer;
  color: black;
}

.status {
  margin: 0 auto;
  margin-top: 5em;
  height: 15px;
  width: 80%;
  background: rgb(222, 222, 222);
}

.statusBar {
  height: 100%;
  background: pink;
}
