@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

body {
  font-family: "Nanum Myeongjo", serif;
  background: #fdf9ee;
  padding-bottom: 5%;
  margin: 0 auto;
}

header {
  text-align: center;
  height: 40px;
  background: rgb(253, 217, 223);
}

header a {
  background-color: rgb(253, 217, 223);
}

header img {
  width: 100px;
  padding-top: 8px;
  background: rgb(253, 217, 223);
}

#intro,
#qna,
#result {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.start {
  background: black;
  color: white;
  text-align: center;
  font-size: 1em;
  margin-top: 3em;
  padding: 1em;
  border: none;
}

.start:hover {
  background: rgb(249, 168, 181);
  cursor: pointer;
}
